body{
    background-color: purple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;

}

.btn {
    background-color: violet;
    font-size: 1.2rem;
    padding: 1.5 rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    color: white;

}
.btn:hover {
    opacity: 0.8;
}